<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>두개의 값 더하기</title>
</head>
<body>
	<form action="/servlet_0518/welcomRadio" method="get">
    성별 :
    <input name="gender" type="radio" value="남성">남자
    <input name="gender" type="radio" value="여성">여자
    <br><br>
    메일 정보 수신 여부 : 
    <input name="email" type="radio" value="yes">수신
    <input name="email" type="radio" value="no">거부
    <br><br>
    가입인사를 작성해주세요. <br>
    <textarea name="welcomMent" cols="30" rows="3"></textarea>
    <br>
    <input type="submit" value="전송">
    <input type="reset" value="취소">
</form>
</body>
</html>